<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <title>Restaurant Apps Starter Project</title>
</head>
<body>
  <nav >
    <h1>MEEAT</h1>
    <a id="menu" class="nav-drawer">☰</a>
    <div id="drawer" class="nav">
      <ul class="nav-list">
        <li class="nav-item"><a href="/">Home</a></li>
        <li class="nav-item"><a href="#">Favorite</a></li>
        <li class="nav-item"><a href="https://farhanzip.netlify.app/" target="_blank">About Us</a></li>
      </ul>
    </div>
  </nav>

  <div class="hero">
    <div class="hero-inner">
      <h1 class="hero-title">Meet or Eat?</h1>
      <p class="hero-tagline">Why not both?</p>
    </div>
  </div>
  <main>

  </main>

  

  <footer>
    <ul>
      <li><a href="#">Help</a></li>
      <li><a href="#">About</a></li>
      <li><a href="#">Contact</a></li>
    </ul>
  </footer>
</body>
</html>
