:root {
  --primary: #617A55;
  --primary-variant: #A4D0A4;
  --secondary: #F7E1AE;
  --secondary-variant: #FFF8D6;
  --light: #fff;
  --dark: #333;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 12px;
  color: var(--dark);
}

/*
 * Navigation
 */

nav {
  width: 100%;
  padding: 0.5rem 2rem;
  background-color: var(--primary);
  color: var(--light);
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
}

.nav-list {
  position: relative;
  z-index: 10;
  width: 100%;
  display: flex;
}

.hero {
  margin-top: 2rem;
  display: flex;
  align-items: center;
  min-height: 380px;
  width: 100%;
  text-align: center;
  background-image: url("../public/images/heros/hero-image_4.jpg");
  background-position: center;
  background-color: var(--primary-variant);
}

.hero-inner {
  margin: 0 auto;
  max-width: 800px;
}

.hero-title {
  color: #fff;
  font-weight: 500;
  font-size: 36px;
}

.hero-tagline {
  color: #fff;
  margin-top: 16px;
  font-size: 18px;
  font-weight: 300;
}

main {
  height: 100vh;
}

/*
 * Footer
 */

footer ul {
  display: flex;
}

/*
 * Responsive
 */

@media screen and (max-width: 499px) {
  .nav {
    z-index: 9;
    background-color: #fff;
    box-shadow: -2px 0px 2px 0px rgba(0,0,0,0.25);
    width: 200px;
    height: 100%;
    position: fixed;
    top: 0;
    display: flex;
    justify-content: flex-start;
    -webkit-transform: translate(360px, 0);
    transform: translate(360px, 0);
    transition: transform 0.3s ease;
  }

  .open {
    -webkit-transform: translate(170px, 0);
    transform: translate(170px, 0);
  }

  .nav-list {
    flex-direction: column;
  }
}
@media screen and (max-width: 455px) {}

@media screen and (min-width: 1200px) {
  main {
    max-width: 1200px;
  }
}